@using SD_310_W22SD_Assignment.Models.ViewModels
@model ArtistDetailsViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color: azure">@Model.Name</h3>


<table class="table">
    <thead style="color: azure">
        <tr>
            <th>
                Title
            </th>
            <th>
                Users Collection Count
            </th>
        </tr>
    </thead>
    <tbody style="color: green">
@foreach (KeyValuePair<string, int> music in Model.ListOfMusic) {
        <tr>
            <td>
                @music.Key
            </td>
            <td>
                @music.Value
            </td>
        </tr>
}
    </tbody>
</table>


<form asp-action="FindArtist">
    <input type="submit" value="Back to Find Artist" class="btn" style="background-color: green"/>
</form>
