
<div style="display: flex">
<div style="color: green; margin-right: 6em">
    <div style="margin-bottom: 3em">
    <h3 style="color: azure">Top Selling Song</h3>
    <h4>No Sold copies yet</h4>
    </div>
    <div>
    <h3 style="color: azure">Top Selling Artist</h3>
    <h4>No Artist Yet</h4>
    </div>
</div>

<div style="color: green; width: 700px">
    <h3 style="color: azure">Top 3 Rated Song</h3>

    <table class="table">
    <thead style="color: azure">
        <tr>
            <th>
                Song
            </th>
            <th>
                Artist
            </th>
            <th>
                Average Rating
            </th>
        </tr>
    </thead>
    <tbody style="color: green">
  </tbody>
</table>

</div>


</div>
