@using SD_310_W22SD_Assignment.Models.ViewModels
@model IndexViewModel

<div style="display: flex">
<div style="color: green; margin-right: 6em">
    <h3 style="color: azure">Top Selling Song</h3>
    <h4>@Model.TopSong.Title</h4>

    <h3 style="color: azure">Top Selling Artist</h3>
    <h4>@Model.TopArtist.Name</h4>
</div>

<div style="color: green; width: 700px">
    <h3 style="color: azure">Top 3 Rated Song</h3>

    <table class="table">
    <thead style="color: azure">
        <tr>
            <th>
                Top
            </th>
            <th>
                Song
            </th>
            <th>
                Title
            </th>
        </tr>
    </thead>
    <tbody style="color: green">
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

</div>
</div>